body {
     background-color: #323b35;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
    border: 3px solid;
        color: aliceblue;
}
header
{
    text-align-last: center;
    font-size: 200%;
}
table, tr, th, td {
         background-color: ##323b35;
        color: aliceblue;
        border: 3px solid;
    border-color: black;
    text-align: center
        
    
}
button{
    background: #84e3aa;
    color: #33362e;
}

a {
     color: aliceblue;
    
     text-decoration: none !important;
     outline: none !important;

}
a:visited{
    color: #94a69a;
}
div{
    
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}